html {
  margin-left: calc(100vw - 100%);
}

.head {
  padding-top: 10px;

  border-bottom: 1px solid #dddddd;

  width: 100%;

  background-color: #fafafa;
}

.fa {
  margin-right: 50px;
}

#menu {
  margin-bottom: -1px;
}

#contentArea {
  padding-top: 20px;
}

#contentArea textarea,
#contentArea input {
  width: 930px;

  margin-bottom: 10px;
}

#contentArea textarea {
  height: 200px;
}

.ingress {
  font-weight: bold;
}

#contentArea p {
  margin-bottom: 10px;
}

#contentArea ul {
  list-style: disc;
  margin: 0 0 15px 20px;
  padding: 0;
}

#contentArea li {
  margin-bottom: 6px;
  line-height: 1.4;
}

.footer {
  margin: 40px 0;
}
